@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    <!-- Footer -->
    <footer>
        <div class="row">
            <img src="images/background-lines-white-right.svg" alt="lines" class="lines">
            <div class="col">
                <div class="paragrph">
                    <img src="images/logotype-white.svg" alt="logo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>
            </div>
            <div class="col">
                <h3>Company</h3>
                <a href="#">About</a>
                <a href="#">Features</a>
                <a href="#">Works</a>
                <a href="#">Career</a>
            </div>
            <div class="col">
                <h3>Help</h3>
                <a href="#">Costamer Support</a>
                <a href="#">Delivery Details</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privecy Policy</a>
            </div>
            <div class="col">
                <h3>Resources</h3>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#"> How To-Blog</a>
                <a href="#">Youtube Playlist</a>
            </div>
            <div class="col">
                <h3>Link</h3>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#"> How To-Blog</a>
                <a href="#">Youtube Playlist</a>
            </div>
            <hr>
        </div>
        <div class="footer-end">
            
            <div class="social-media">
                <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer>